<h1> {{title}} </h1>


<form>
  <fieldset>
    <legend>WordCapitalizerPipe</legend>
    <p>{{ "the dog of the baskerville's" | wordCapitalizer }}</p>
  </fieldset>
</form>


<hr />


<fieldset>
  <legend>StandaloneButtonComponent</legend>
  <app-standalone-button-comp></app-standalone-button-comp>
</fieldset>


<hr />


<fieldset>
  <legend>ButtonWithServiceComponent</legend>
  <app-button-with-service-comp></app-button-with-service-comp>
</fieldset>


<hr />


<fieldset>
  <legend>MultiplierPanelComponent</legend>
  <app-multiplier-panel-comp></app-multiplier-panel-comp>
</fieldset>


<hr />


<!--




-->
